name: 프론트 운영 CD

on:
  push:
    branches: [main]

jobs:
  buildAndDeploy:
    name: 프론트 운영 CD
    runs-on: ubuntu-18.04
    defaults:
      run:
        shell: bash
    env:
      working-directory: ./FE
    strategy:
      matrix:
        node-version: [16.13.1]

    steps:
      - name: 체크아웃 Github-Action
        uses: actions/checkout@v2
      
      - name: Node.js ${{ matrix.node-version }} 준비
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: react 프로젝트 빌드
        run: \
          npm install \
          npm run build
        working-directory: ${{ env.working-directory }}

      - name: Docker Buildx 준비
        uses: docker/setup-buildx-action@v1

      - name: Github Container Registry 에 로그인
        uses: docker/login-action@v1
        with: 
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_ACCESS_KEY }}

      - name: 이미지 빌드 및 푸시
        uses: docker/build-push-action@v2
        with:
          context: ${{ env.working-directory }}
          file: ${{ env.working-directory }}/Dockerfile
          push: true
          tags: 
            ghcr.io/${{ github.repository_owner }}/airbnb-fe:latest
